body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
  }

  .navbar-button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: inherit;
    transition: background-color 0.3s;
  }

  .navbar-button:hover {
    background-color: var(--bs-warning);
    color: var(--bs-dark);
    cursor: pointer;
  }